
.main {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  display: flex;

}


.product {
  margin-bottom: 70px;
}

.product h1 {
  font-family: 'Arial', sans-serif , monospace;
  font-size: 24px;
  color: #333;
  margin: 0;
  text-align: center;
}

.product span {
  display: block;
  font-size: 18px;
  color: #278300;
  margin-top: 5px;
}


.section {
  margin-bottom: 20px;
  text-align: left;
  padding: 10px;
  text-shadow: #ff0000;
}

.time, .address, .contact {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding: 20px;
  font-size: larger;
}

.time .calender, .address svg, .contact svg {
  font-size: 34px; 
  margin-right: 10px; 
  color: #000000; 
}

.time span, .address span, .contact span {
  margin-left: 10px;
  font-size: 16px;
  color: #ff0000;
}


iframe {
  border: none; 
  border-radius: 10px; 
  max-width: 100%; 
  box-shadow: 3px 3px 3px 2px  rgb(91, 90, 88);
}


@media (max-width: 768px) {
  iframe {
      height: 400px; 
  }

  .product h1 {
      font-size: 18px;
  }

  .product span, .time span, .address span, .contact span {
      font-size: 12px; 
  }
}
